.icon-link-menu {
    color: black;
}

.topbar-profile-photo{
    width: 1.5em;
    height: 1.5em;
    position: relative;
}

.stories-profile-photo {
    width: 2em;
    height: 2em;
    position: relative;
}