
.container {
   min-height: 20px;
   margin: 20px; 
}
.image {
    width: 300px;
}

.container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sNetwork-logo {
    width: 30px;
}

.navbar {
    display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  
  list-style: none;
  margin: 0; 
  background: lightcoral;
}

.navbar a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
  }

  .navbar a:hover {
    background: #c03715;
  }
  
  .principal-title {
      background-color: aqua;
  }

  .principal-block {
      background-color: lightgreen;
  }

  .principal-article {
      background-color: chartreuse;
  }

  .principal-text {
      background-color: blueviolet;
  }

.principal-recepie {
    background-color: cadetblue;
}

.principal-subtitle {
    background-color: darkgoldenrod;
}

.principal-sidebar {
    background-color: darkcyan;
}

.principal-sidebar-itens {
    background-color: darkgrey;
}

.sNetwork {
    display: flex;
    flex-flow: row wrap;
  justify-content:space-around;
  
  list-style: none;
  margin: 0; 
}