* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

.image {
    width: 300px;
}

.principal {
    display:flexbox;
}

.sNetwork-logo {
    width: 30px;
}

.navbar {
    display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  
  list-style: none;
  margin: 0; 
  background: lightcoral;
}

.navbar a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
  }

  .navbar a:hover {
    background: #c03715;
  }
  
.principal-block {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}